{# templates/task/list.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
   <h1>Просмотр списка задач</h1>
   <div class="task-container">
       {% for task in tasks %}
           <div class="task">
               <h3>{{ task.title }}</h3>
               <p><strong>Описание:</strong> {{ task.description }}</p>
               <p><strong>Срок:</strong> {{ task.Date|date('Y-m-d') }}</p>
               <p><strong>Категория:</strong> {{ task.category.name }}</p>
               <a class="view-button" href="{{ path('app_task_view', {'id': task.id}) }}">Просмотреть</a>
           </div>
       {% endfor %}
   </div>

   <div class="create-button-container">
       <a class="create-button" href="{{ path('task_create') }}">Создать задачу</a>
   </div>


{% endblock %}


