{# templates/task/list.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
   <h1>Просмотр списка задач</h1>
   <div class="task-container">
       {% for task in tasks %}
           <div class="task">
               <h3>{{ task.title }}</h3>
               <p><strong>Описание:</strong> {{ task.description }}</p>
               <p><strong>Срок:</strong> {{ task.Date|date('Y-m-d') }}</p>
               <p><strong>Категория:</strong> {{ task.category.name }}</p>
               <a class="view-button" href="{{ path('app_task_view', {'id': task.id}) }}">Просмотреть</a>
               <button class="delete-button" data-task-id="{{ task.id }}">Удалить</button>
           </div>
       {% endfor %}
   </div>

   <div class="create-button-container">
       <a class="create-button" href="{{ path('task_create') }}">Создать задачу</a>
   </div>
{{ knp_pagination_render(tasks) }}
    <style>
/* public/css/task-list.css */
body {
    background-color: #f0f0f0; /* Нейтральный фон для всей страницы */
    font-family: Arial, sans-serif; /* Шрифт по умолчанию */
}

.task-container {
    display: flex;
    flex-wrap: wrap;
}

.task {
    background-color: #fff; /* Нейтральный фон для задач */
    border: 1px solid #ccc;
    border-radius: 10px; /* Округленные углы */
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Распределение задач по 3 в ряду */
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #888; /* Тень */
}

.task h3 {
    font-size: 18px; /* Увеличение размера шрифта для названия задачи */
    text-decoration: underline; /* Подчеркивание текста */
}


/* public/css/task-list.css */
.view-button {
    float: right; /* Сделать кнопку плавающей справа */
    margin-top: 10px; /* Добавить небольшой верхний отступ */
}
.create-button-container {
            text-align: center;
        }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
        }
   </style>
    <script>
   // Обработка нажатия кнопки удаления
   const deleteButtons = document.querySelectorAll(".delete-button");
   deleteButtons.forEach((button) => {
       button.addEventListener("click", () => {
           const taskId = button.getAttribute("data-task-id");
           const confirmation = confirm("Вы уверены, что хотите удалить эту задачу?");
           if (confirmation) {
               // Перенаправление на страницу удаления
               window.location.href = `/task/delete/${taskId}`;
           }
       });
   });
   </script>
{% endblock %}