{% extends 'base.html.twig' %}

{% block title %}Подробная информация о задаче{% endblock %}

{% block styles %}
    {{ parent() }}
</style>
{% endblock %}

{% block body %}
    <div class="task-details">
        <h1>{{ task.title }}</h1>
        <p><strong>Описание:</strong> {{ task.description }}</p>
        <p><strong>Срок выполнения:</strong> {{ task.date ? task.date|date('Y-m-d') : 'Нет срока' }}</p>
        <p><strong>Категория:</strong> {{ task.category.name }}</p>
        <div class="edit-button">
            <a href="{{ path('task_update', {'id': task.id}) }}" class="btn btn-primary">Редактировать</a>
        </div>
    </div>
  
{% endblock %}
